# OpenAI API Key for Chatbot
OPENAI_API_KEY=
# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
# Google Maps API Key (Future Use)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

NEXT_PUBLIC_CHATWOOT_TOKEN=